@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/*---SWITCH---*/
body.dark {   
    background:  #1b1b1b; 
}
body.dark h2, h4, p {   
    color:#fff
}

.darkModeSwitch{
    background: #22272b;
    display:flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    align-items: center;
    justify-content: space-between;
}
.darkModeSwitch span{
    width:30px;
    height:15px;
    line-height:30px;
    display:block;
    color:#fda500;

    background: none;
}
.darkModeSwitch::after{
    display:block;
    background: #f8f8f8;
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top:0;
    left:0;
    right:unset;
    transition: all .5s ease;

    content: "";
}
.darkModeSwitch.active{
  background: #22272b;
}
.darkModeSwitch.active::after{
  left:unset;
  right:0;
}
/* BODY COLOR */
body {
    --color-text: #EE6352;
}

body {
    background-color: var(--color-bg);
}

h1 {
    color: var(--color-text);
}



/* MENU */

.contenedor-header{
    background: #212325;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #EE6352;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #EE6352;
}
.nav-responsive{
    background-color: #EE6352;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION INICIO */
.inicio{
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #212325;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border: solid 1px #EE6352;

}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 2px solid #EE6352;
    display: block;
    width: 80%;
    margin: auto;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    cursor: pointer;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #EE6352;
}


/*ACERCA DE MI*/

.sobremi {
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #555;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    color: #777;
}
.sobremi .contenido-seccion span{
    color: #555;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    color: #444;
}

/* SECCION CURRICULUM */

.curriculum{
    color: #000000;
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    color: #666;
}

/*CONTACTO*/

.contacto{
    color: #000000;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    color: #000000;
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contacto .col{
    width: 50%;
    padding: 10px;
    position:relative;
    
}
.contacto .col input, .contacto .col textarea{
    background-color: #212325;
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    color: #f3f3f3;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    border: 2px solid #0a0a0a;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #000000;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #EE6352;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}
.contacto .col .info ul li i{
    color: #EE6352;
    display: inline-block;
    margin-right: 20px;
}

/*PIE DE PAGINIA*/

footer{
    background-color: #212325;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
}
footer .redes{
    margin-bottom: 10px;
}
footer .redes a{
    color: #ffffff;
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: 1s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -45px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

#fa {
    color: rgb(40, 40, 216);
}

#yt {
    color: red;
}

#in {
    color: rgb(136, 34, 119);
}
/* RESPONSIVE */

@media screen and (max-width:980px){
    nav{
        display:flex;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 100%;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fcfcfc;
        padding: 5px;
    }
}

@media screen and (max-width:700px){
    nav{
        display:flex;
        width: 100%;
        height: 40px;
        overflow-y: scroll;
    }
    .contenedor-header {
        width: 100%;
    }
    .contenedor-header .logo {
        width: 80px;
    }    
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fcfcfc;
        padding: 5px;
    }
}
